<md-sidenav-container>

  <md-sidenav #sidenav mode="push" class="app-sidenav">
    Sidenav un peu plus longue
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> House Ovent Dashboard
    <span class="app-toolbar-filler"></span>
    <button class="app-icon-button"><md-icon (click)="close()">close</md-icon></button>
  </md-toolbar>

  <div class="app-content">
    <md-list>
      <md-list-item *ngFor="let device of devices">
        <p md-line> {{(device | async).metrics.title}} </p>
        <app-device [device]="device | async"></app-device>
      </md-list-item>
    </md-list>
  </div>
</md-sidenav-container>
