body,html{
  margin:0;
  padding: 0;
}
.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  margin: 0;
  min-width: 0;
  outline:none;
  padding: 0;
  text-align: left;
  text-decoration: none;
   color: white;
}

.app-toolbar-menu{
  padding: 0 14px 0 0;
}

.mat-sidenav-container{
  min-height: 100vh;
}
 md-toolbar{
   -webkit-app-region: drag;
   button, md-icon{
      -webkit-app-region: no-drag;
   }
 }

 .app-toolbar-filler{
   flex: 1 1 auto;
 }

md-sidenav-container .mat-sidenav-backdrop.mat-sidenav-shown {
    background: rgba(189, 189, 189, 0.3)!important;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-blue-grey);
$candy-app-accent:  mat-palette($mat-green, A200, A100, A400);
$candy-app-theme:   mat-dark-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);
